<!doctype html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
	<link rel="stylesheet" href="../assets/style.css">
	<link rel="shortcut icon" href="../assets/img/alpha_bank-logo.png" type="image/x-icon">
	<title>ALPHA</title>
</head>
  <body>
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid" style="background-color: #17A398;">
				<a class="navbar-brand" href="#">ALPHA</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/login">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/abertura-de-conta">Cadastro</a>
					</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Sobre nós</a>
						</li>
						<li class="nav-item dropdown">
						<li class="nav-item">
							<a class="nav-link">Contato</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container" >

			<div class="row">
				<div class="col">
					<form class="row g-3" style="margin-top: 30px;">
							
						<div class="row">
							<div class="col-md-6" style="padding: 10px">
								<label for="inputName" class="form-label">Nome Completo</label>
								<input type="text" class="form-control" id="inputName" placeholder="Digite seu nome completo">
							</div>
	
							<div class="col-md-4" style="padding: 10px">
								<label for="inputNSocial" class="form-label">Nome Social</label>
								<input type="text" class="form-control" id="inputNSocial" placeholder="Digite seu nome social (opcional)" required>
							</div>
	
							<div class="col-md-3" style="padding: 10px">
								<label for="inputCPF" class="form-label">CPF</label>
								<input type="text" class="form-control" id="inputCPF" placeholder="Digite seu CPF">
							</div>

							<div class="col-md-3" style="padding: 10px">
								<label for="inputDate" class="form-label">Data de Nascimento</label>
								<input type="date" class="form-control" id="inputDate">
							</div>

							<div class="col-md-4" style="padding: 10px">
								<label for="inputEmail" class="form-label">E-mail</label>
								<input type="email" class="form-control" id="inputEmail" placeholder="Digite seu e-mail">
							</div>

							<div class="col-md-3" style="padding: 10px">
								<label for="inputTelefone" class="form-label">Telefone Pessoal</label>
								<input type="text" class="form-control" id="inputTelefone" placeholder="Digite seu telefone pessoal">
							</div>

						</div>

						<div class="row">
							<div class="col-md-3" style="padding: 10px">
								<label for="inputCep" class="form-label">CEP</label>
								<input type="text" class="form-control" id="inputCep" placeholder="Digite seu CEP">
							</div>

							<div class="col-md-7" style="padding: 10px">
								<label for="inputLougradouro" class="form-label">Lougradouro</label>
								<input type="text" class="form-control" id="inputLougradouro">
							</div>
	
							<div class="col-md-1" style="padding: 10px">
								<label for="inputNum" class="form-label">Número</label>
								<input type="text" class="form-control" id="inputNum">
							</div>
	
							<div class="col-md-1" style="padding: 10px">
								<label for="inputComp" class="form-label">Complemento</label>
								<input type="text" class="form-control" id="inputComp">
							</div>
	
							<div class="col-md-4" style="padding: 10px">
								<label for="inputBairro" class="form-label">Bairro</label>
								<input type="text" class="form-control" id="inputBairro">
							</div>
	
							<div class="col-md-4" style="padding: 10px">
								<label for="inputCity" class="form-label">Cidade</label>
								<input type="text" class="form-control" id="inputCity">
							</div>
	
							<div class="col-md-4" style="padding: 10px">
								<label for="inputState" class="form-label">Estado</label>
								<input type="text" class="form-control" id="inputState">
							</div>
						</div>
						
						<div class="col-12" style="padding: 10px">
							<button type="button" id="button" class="btn btn-primary">Cadastrar</button>&nbsp;
							<button type="button" id="secondaryButton" class="btn btn-secondary">Limpar Formulário</button>
						</div>
					</form>
				</div>
			</div>

			<div class="row" style="padding: 10px">
				<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top footer-center">
					<div class="col-md-4 d-flex align-items-center">
						<a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
							<svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
						</a>
						<span class="mb-3 mb-md-0 text-muted">© 2022 Alpha Bank Inc</span>
					</div>	
				</footer>
			</div>
		</div>




















    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" integrity="sha512-0XDfGxFliYJPFrideYOoxdgNIvrwGTLnmK20xZbCAvPfLGQMzHUsaqZK8ZoH+luXGRxTrS46+Aq400nCnAT0/w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script src="../assets/abertura-de-conta.js"></script>
</body>
</html>