body {
    background-color: #E5EBEA;
}

.container {
    padding: 30px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px #6b6b6b00;
    
}

.container:hover {
    background-color: #c4fff5;
}

.form-home-child {
    margin: auto;
}

.footer-center {
    margin: auto;
}


